*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    
}

body{
   background-color: black;
   display: flex;
   align-items: center;
   justify-content: center;
}

@keyframes changeBackgroundColor{
    from{
        background-color: #fff;
        border-radius: 100%;
        scale: 0.5;
        height: 20px;
        width: 20px;
        box-shadow: 0 0 0px white ;
    }
    to{
        background-color: red;
        border-radius: 100%;
        box-shadow: 0 0 25px white ;
        scale: 1;
        height: 500px;
        width: 500px;
    }
}

@keyframes z-index{
    from{
        font-size: 0px;
        color: white;
    }
    to{
        color: black;
        font-size: 80px;
    }
}
.card{
    position: relative;
    height: 500px;
    width: 500px;
    background-color: white;
    animation: changeBackgroundColor 5s infinite forwards alternate;
}

.card h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 60px;
    margin: auto;
    animation: z-index 5s infinite forwards alternate;
}
